{
    margin:0;
    padding:0;
}

    h1{
        width: 100%;
    }
    nav {
        margin: 20px auto;
        width: 90%;
        max-width:1000px;
    }

    nav ul{
        list-style: none;
    }

    nav >ul {
        display: table;
        overflow: hidden;
        width: 100%;
        background:aliceblue ;
        position: relative;

    }

    nav > ul li{
        display: table-cell;
    }
/*Submenu*/
    nav > ul > li:hover > ul{

        display: block;
        /*background:cadetblue;
        color: cadetblue;*/

    }

    nav > ul > li > ul{
        display: none;


    }

    /*nav > ul li a {
        color: yellow;
        line-height: 20px;
        padding: 20px;
        position: relative;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all 3s ease;
        -moz-transition: all 3s ease;
        -ms-transition: all 3s ease;
        -o-transition: all 3s ease;
        transition: all 3s ease;
    }*/

        nav > ul > li > ul > li:hover {

           background-color: black;
            color: black;



        }

/*nav > ul > li > ul{
    display: none;

nav > ul li li{
            color: indigo;
            line-height: 20px;
            padding: 20px;
            position: relative;
            text-align: center;
            -webkit-transition: all 3s ease;
            -moz-transition: all 3s ease;
            -ms-transition: all 3s ease;
            -o-transition: all 3s ease;
            transition: all 3s ease;
        }*/




